<div class="row">
	<div class="col-md-8">
		<div class="media">
			<br />
			<% avatar_url = User.avatar_url(@user, 128) %>
			<% unless avatar_url.nil? %>
				<div class="media-left">
					<%= image_tag avatar_url, class: 'media-object' %>
				</div>
			<% end %>
			<div class="media-body">
				<h2 class="media-heading"><%= @user.name %></h2>
				<small>
					<%= pluralize(@user.posts.count, 'post') %>,
					<%= pluralize(@user.comments.count, 'comment') %>
				</small>
			</div>
		</div>
	</div>
</div>

<% if has_no_posts_or_comments?(@user) %>
	<p><%= @user.name %> has not submitted any posts or comments yet.</p>
<% else %>
	<h2>Posts</h2>
	<%= render @user.posts %>

	<h2>Comments</h2>
	<%= render @user.comments %>
<% end %>

<h2>Favorites</h2>
<div class="media">
	<div class="media-body">
		<% @user.favorites.each do |favorite| %>
			<%= image_tag User.avatar_url(favorite.post.user, 64), class: 'pull-left gravatar' %>
			<%= render favorite.post %>
		<% end %>
	</div>
</div>